#filter {
    position: fixed;
    left: -76px;
    top: 400px;
    color: white;
    background-image: linear-gradient(to right,rgb(234, 63, 92), rgb(147, 7, 147));
    padding: 10px 35px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    rotate: -90deg;
}
@media all and (min-width:320px) and (max-width:767px){
    #filter{
        font-size: 15px;
        padding-top:11px ;
        padding-bottom:0px ;
        /* margin-bottom: px; */
        /* height: 30px; */
    }
}